{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
	<div class="col-lg-4">
		<div class="card" style="width: 18rem;">
  			<img src="{% static 'images/p1.png' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				    <h5 class="card-title">Tripr</h5>
				    <p class="card-text">Solid Men V Neck Multicolor T-Shirt</p>
				    <h4>₹275</h4>
				    <a href="#" class="btn btn-success">Add to Cart</a>
			  </div>
		</div>	
	</div>

	<div class="col-lg-4">
		<div class="card" style="width: 18rem;">
  			<img src="{% static 'images/p2.png' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				    <h5 class="card-title">BLIVE</h5>
				    <p class="card-text">Striped Men Round Neck Maroon, Grey T-Shirt</p>
				    <h4>₹394</h4>
				    <a href="#" class="btn btn-success">Add to Cart</a>
			  </div>
		</div>	
	</div>

	<div class="col-lg-4">
		<div class="card" style="width: 18rem;">
  			<img src="{% static 'images/p3.png' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				    <h5 class="card-title">Helmont </h5>
				    <p class="card-text">Striped Men Hooded Neck Red, Black T-Shirt</p>
				    <h4>₹350</h4>
				    <a href="#" class="btn btn-success">Add to Cart</a>
			  </div>
		</div>	
	</div>

	


</div>


{% endblock %}